**/db
target/
/containers/mailpit/data
.docker-manager-autorestart.toml
.docker-manager-autorestart.toml.tmp
.argv-docker-manager-autorestart.toml
.argv-docker-manager-autorestart.toml.tmp
.argv-podman-manager-autorestart.toml
.argv-podman-manager-autorestart.toml.tmp
/.opencode/plans
